<%- include("partials/header") -%>
      <div class="description-box">
        <p class="name">I'm Chris Gan</p>
        <div class="description">I'm an active learner in Web Development.</div>
        <a target="_blank" href="https://www.facebook.com/gan.boontoh.3/"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" href="https://github.com/Chris4385"><i class="fab fa-github-square"></i></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/gan-boon-toh-a50902160/"><i class="fab fa-linkedin"></i></a>

      </div>
      <div class="animation-box">
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>
        <div class="circles"></div>

      </div>
      <section id="education-section">
        <h1 class="education-title"><i class="fas fa-graduation-cap"></i>Educational Background</h1>
  <div class="timeline">
    <div class="row first-row">
      <div class="col-lg-6">
        <div class="container master-container">
          <div class="content">
            <div class="left whu">
              <img class="whu-logo" src="images/whu.png" alt="whu-logo" />
            </div>
            <div class="right master-right">
              <h2 class="year master-year">2019-Current</h2>
              <p>Wuhan University, China</p>
              <p>
                Master in Financial Engineering
                <button class="more" id="master">+</button>

              </p>

            </div>
          </div>
          <div id="master-elaboration" class="elaboration">
            <p>Average Score: 89.5/100 <span>Major Score: 87.5/100</span></p>
            <div class="description master-description">
              <ul>
                <p>Outstanding Subjects:</p>
                <li>Multivariate Statistical Analysis</li>
                <li>Mathematics in Financial Engineering</li>
                <li>Intermediate Econometrics</li>
                <li>Financial Derivatives & Financial Engineering</li>
              </ul>
            </div>
          </div>
        </div>
        <span class="circles circle-1"></span>
      </div>
    </div>
    <div class="row second-row">
      <div class="col-lg-6 ml-auto">
        <div class="container degree-container">
          <div class="content">
            <div class="left ucsi">
              <img class="ucsi-logo" src="images/ucsi.png" alt="ucsi-logo" />
            </div>
            <div class="right degree-right">
              <h2 class="year degree_year">2016-2019</h2>
              <p>UCSI University, Malaysia</p>
              <p>
                BSc Actuarial Science & Finance
                <button class="more" id="degree">+</button>
              </p>
            </div>
          </div>
          <div id="degree-elaboration" class="elaboration">
            <p>CGPA: 3.41/4.00</p>
            <div class="description degree-description">
              <ul>
                <p>Outstanding Subjects:</p>
                <li>Calculus & Analytical Geometry</li>
                <li>Statistics & Its Applications</li>
                <li>Introduction to Stochastic Process</li>
                <li>Stochastic Calculus for Insurance & Finance</li>
              </ul>
            </div>
          </div>
        </div>
        <span class="circles circle-2"></span>
      </div>
    </div>
    <div class="row third-row">
      <div class="foundation col-lg-6">
        <div class="container foundation-container">
          <div class="content">
            <div class="left UTAR">
              <img class="utar-logo" src="images/utar.jpg" alt="utar-logo" />
            </div>
            <div class="right foundation-right">
              <h2 class="year foundation_year">2015-2016</h2>
              <p>University Tunku Abdul Rahman, Malaysia</p>
              <p>
                Foundation In Arts
                <button class="more" id="foundation">+</button>
              </p>
            </div>
          </div>

          <div id="foundation-elaboration" class="elaboration">
            <p>CGPA: 3.89/4.00</p>
            <div class="description foundation-description">
              <p>Program Descriptions:</p>
              <div>A one-year full-time programme designed to equip students with 
                the necessary knowledge and skills for a smooth transition into the 
                undergraduate studies in the university. Please refer to the university's 
              <a href="https://study.utar.edu.my/foundation-in-arts.php" target="_blank"> official website </a> for further details   </div>
              </ul>
            </div>
          </div>
        </div>
        <span class="circles circle-3"></span>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/jquery.js"></script>

      </section>
<%- include("partials/footer") -%>
